<a href="https://colab.research.google.com/github/VictorOPreuss/aceleradev_ds/blob/master/desafios/Desafio%201/desafio_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [0]:
import pandas as pd
import numpy as np

In [0]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [0]:
black_friday.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [0]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape

q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [0]:
def q2():
    # Retorne aqui o resultado da questão 2.
    filt = black_friday[(black_friday.Age == '26-35') & (black_friday.Gender == 'F')].User_ID.unique()
    return len(filt)

q2()

545

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    users = black_friday.User_ID.nunique()
    return users

q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [0]:
def q4():
    # Retorne aqui o resultado da questão 4.
    types = black_friday.dtypes.nunique()
    return types

q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [0]:
def q5():
    # Retorne aqui o resultado da questão 5.
    non_null_values = len(black_friday.dropna(axis=0, how='any'))
    null_values = len(black_friday) - non_null_values
    percent_null = null_values/len(black_friday)
    return percent_null

q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [0]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return black_friday.isna().sum().max().item() 

q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [0]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].value_counts().idxmax()

q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [0]:
def q8():
    # Retorne aqui o resultado da questão 8.
    min = black_friday.Purchase.min()
    max = black_friday.Purchase.max()
    Purchase_norm = (black_friday.Purchase - min)/(max - min)
    return Purchase_norm.mean().item()

q8()

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [0]:
def q9():
    # Retorne aqui o resultado da questão 9.
    mean = black_friday.Purchase.mean()
    std = black_friday.Purchase.std()
    Purchase_norm = (black_friday.Purchase - mean)/(std)
    return Purchase_norm.between(-1,1).sum().item() 

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [0]:
def q10():
    # Retorne aqui o resultado da questão 10.
    df = black_friday[black_friday['Product_Category_2'].isna() == True]
    df2 = black_friday.iloc[df.index,:].Product_Category_3.isna()
    return df2.all().item()

q10()

True