<a href="https://colab.research.google.com/github/VictorOPreuss/aceleradev_ds/blob/master/desafios/desafio_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 5

Neste desafio, vamos praticar sobre redução de dimensionalidade com PCA e seleção de variáveis com RFE. Utilizaremos o _data set_ [Fifa 2019](https://www.kaggle.com/karangadiya/fifa19), contendo originalmente 89 variáveis de mais de 18 mil jogadores do _game_ FIFA 2019.

> Obs.: Por favor, não modifique o nome das funções de resposta.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [0]:
!pip install loguru

Collecting loguru
  Downloading https://files.pythonhosted.org/packages/80/b0/4413a201fcdcdc6789050c536d3b4ece601975ded9e0d676ef47f582348d/loguru-0.5.0-py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 1.8MB/s
Collecting aiocontextvars>=0.2.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/db/c1/7a723e8d988de0a2e623927396e54b6831b68cb80dce468c945b849a9385/aiocontextvars-0.2.2-py2.py3-none-any.whl
Collecting contextvars==2.4; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 4.8MB/s
Building wheels for collected packages: contextvars
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7666 sha256=91f15e94b86b27901495fcce22cd9b64c23397f06ffa53ca7eee52353af7fa58
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
Successfully built contextvars
Installing collected packages: immutables, contextvars, aiocontextvars, loguru
Successfully installed aiocontextvars-0.2.2 contextvars-2.4 immutables-0.14 loguru-0.5.0

## _Setup_ geral

In [0]:
from math import sqrt

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats as st
from sklearn.decomposition import PCA

from loguru import logger

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
# Algumas configurações para o matplotlib.
%matplotlib inline

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

In [0]:
fifa = pd.read_csv("data.csv")

In [0]:
columns_to_drop = ["Unnamed: 0", "ID", "Name", "Photo", "Nationality", "Flag",
                   "Club", "Club Logo", "Value", "Wage", "Special", "Preferred Foot",
                   "International Reputation", "Weak Foot", "Skill Moves", "Work Rate",
                   "Body Type", "Real Face", "Position", "Jersey Number", "Joined",
                   "Loaned From", "Contract Valid Until", "Height", "Weight", "LS",
                   "ST", "RS", "LW", "LF", "CF", "RF", "RW", "LAM", "CAM", "RAM", "LM",
                   "LCM", "CM", "RCM", "RM", "LWB", "LDM", "CDM", "RDM", "RWB", "LB", "LCB",
                   "CB", "RCB", "RB", "Release Clause"
]

try:
    fifa.drop(columns_to_drop, axis=1, inplace=True)
except KeyError:
    logger.warning(f"Columns already dropped")

## Inicia sua análise a partir daqui

In [0]:
# Sua análise começa aqui.
print(fifa.shape)
fifa.head()

(18207, 37)

   Age  Overall  Potential  ...  GKKicking  GKPositioning  GKReflexes
0   31       94         94  ...       15.0           14.0         8.0
1   33       94         94  ...       15.0           14.0        11.0
2   26       92         93  ...       15.0           15.0        11.0
3   27       91         93  ...       87.0           88.0        94.0
4   27       91         92  ...        5.0           10.0        13.0

[5 rows x 37 columns]

In [0]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              18207 non-null  int64
 1   Overall          18207 non-null  int64
 2   Potential        18207 non-null  int64
 3   Crossing         18159 non-null  float64
 4   Finishing        18159 non-null  float64
 5   HeadingAccuracy  18159 non-null  float64
 6   ShortPassing     18159 non-null  float64
 7   Volleys          18159 non-null  float64
 8   Dribbling        18159 non-null  float64
 9   Curve            18159 non-null  float64
 10  FKAccuracy       18159 non-null  float64
 11  LongPassing      18159 non-null  float64
 12  BallControl      18159 non-null  float64
 13  Acceleration     18159 non-null  float64
 14  SprintSpeed      18159 non-null  float64
 15  Agility          18159 non-null  float64
 16  Reactions        18159 non-null  float64
 17  Balance          18159 non-null  float64
 18  ShotPower        18159 non-null  float64
 19  Jumping          18159 non-null  float64
 20  Stamina          18159 non-null  float64
 21  Strength         18159 non-null  float64
 22  LongShots        18159 non-null  float64
 23  Aggression       18159 non-null  float64
 24  Interceptions    18159 non-null  float64
 25  Positioning      18159 non-null  float64
 26  Vision           18159 non-null  float64
 27  Penalties        18159 non-null  float64
 28  Composure        18159 non-null  float64
 29  Marking          18159 non-null  float64
 30  StandingTackle   18159 non-null  float64
 31  SlidingTackle    18159 non-null  float64
 32  GKDiving         18159 non-null  float64
 33  GKHandling       18159 non-null  float64
 34  GKKicking        18159 non-null  float64
 35  GKPositioning    18159 non-null  float64
 36  GKReflexes       18159 non-null  float64
dtypes: float64(34), int64(3)
memory usage: 5.1 MB

In [0]:
fifa.describe()

                Age       Overall  ...  GKPositioning    GKReflexes
count  18207.000000  18207.000000  ...   18159.000000  18159.000000
mean      25.122206     66.238699  ...      16.388898     16.710887
std        4.669943      6.908930  ...      17.034669     17.955119
min       16.000000     46.000000  ...       1.000000      1.000000
25%       21.000000     62.000000  ...       8.000000      8.000000
50%       25.000000     66.000000  ...      11.000000     11.000000
75%       28.000000     71.000000  ...      14.000000     14.000000
max       45.000000     94.000000  ...      90.000000     94.000000

[8 rows x 37 columns]

## Questão 1

Qual fração da variância consegue ser explicada pelo primeiro componente principal de `fifa`? Responda como um único float (entre 0 e 1) arredondado para três casas decimais.

In [0]:
def q1():
    # Retorne aqui o resultado da questão 1.
    df = fifa.dropna()
    pca = PCA(n_components=1)
    pca.fit(df)
    result = pca.explained_variance_ratio_
    result = result.item()
    result = round(result, 3)

    return result
q1()

0.565

## Questão 2

Quantos componentes principais precisamos para explicar 95% da variância total? Responda como un único escalar inteiro.

In [0]:

def q2():
    # Retorne aqui o resultado da questão 2.
    df = fifa.dropna()
    pca = PCA().fit(df)
    cumulative_variance_ratio = np.cumsum(pca.explained_variance_ratio_)
    result = np.argmax(cumulative_variance_ratio >= 0.95) + 1 # Contagem começa em zero.
    
    return result.item()
q2()

15

## Questão 3

Qual são as coordenadas (primeiro e segundo componentes principais) do ponto `x` abaixo? O vetor abaixo já está centralizado. Cuidado para __não__ centralizar o vetor novamente (por exemplo, invocando `PCA.transform()` nele). Responda como uma tupla de float arredondados para três casas decimais.

In [0]:
x = [0.87747123,  -1.24990363,  -1.3191255, -36.7341814,
     -35.55091139, -37.29814417, -28.68671182, -30.90902583,
     -42.37100061, -32.17082438, -28.86315326, -22.71193348,
     -38.36945867, -20.61407566, -22.72696734, -25.50360703,
     2.16339005, -27.96657305, -33.46004736,  -5.08943224,
     -30.21994603,   3.68803348, -36.10997302, -30.86899058,
     -22.69827634, -37.95847789, -22.40090313, -30.54859849,
     -26.64827358, -19.28162344, -34.69783578, -34.6614351,
     48.38377664,  47.60840355,  45.76793876,  44.61110193,
     49.28911284
]

In [0]:
def q3():
    # Retorne aqui o resultado da questão 3.
    df = fifa.dropna()
    pca = PCA(n_components=2)
    pca.fit(df)
    return tuple(np.round(pca.components_.dot(x), 3))
q3()

(186.556, -6.592)

## Questão 4

Realiza RFE com estimador de regressão linear para selecionar cinco variáveis, eliminando uma a uma. Quais são as variáveis selecionadas? Responda como uma lista de nomes de variáveis.

In [0]:
def q4():
    # Retorne aqui o resultado da questão 4.
    from sklearn.feature_selection import RFE
    from sklearn.linear_model import LinearRegression

    df = fifa.dropna()
    X = df.drop('Overall', axis = 1)
    y = df['Overall']
    estimator = LinearRegression()
    selector = RFE(estimator, n_features_to_select=5)
    selector = selector.fit(X, y)
    return X.columns[selector.support_].to_list()
q4()

['Age', 'Potential', 'BallControl', 'Reactions', 'GKReflexes']